/* CSS Document for the LoGD amber skin, by Ben Wong */

/*  --------------------------------------------------------------------
**  General Tag Defaults
*/

/** tables **/
table { }

td {
    font-family: "Lucida Console", "Terminal", monospace;
    font-size: 12px;
}

/** links **/

a {
    color: #ff9900;
    text-decoration: none;
}

a:hover { color: #ff6600; }

/** input fields (e.g. village chats) **/

input {
    background-color: #000000;
    border: 1px solid #cc6600;
    color: #ff9900;
    font-family: "Lucida Console", "Terminal", monospace;
    font-size: 11px;
}

/** select boxes (e.g. user preference drop-downs) **/

select {
    background-color: #000000;
    border: 1px solid #cc6600;
    color: #ff9900;
}

/*  --------------------------------------------------------------------
**  Global Classes
*/

/** the main page heading (e.g. "Degolburg, the Capital City", "LoGD News") **/

.pagetitle {
    color: #ff9933;
    font-family: "Lucida Console", "Terminal", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
}

/** nav menu categories (e.g. City Gates, Store Street, Info) **/

.navhead {
    background-color: #000000;
    border: thin none #cc6600;
    clear: none;
    color: #ff9933;
    cursor: default;
    float: left;
    font-weight: bold;
    height: auto;
    line-height: 18px;
    padding: 1px;
    text-align: left;
    text-decoration: underline;
    width: 175px;
}

/** help for nav menu categories **/

.navhelp {
    border: thin none #cc6600;
    clear: none;
    cursor: default;
    float: left;
    height: auto;
    padding: 1px;
    text-decoration: none;
    width: 175px;
}

/** nav hot keys (e.g. [F]orest, [T]ravel) **/

.navhi {
    background-color: #ff9900;
    color: #000000;
    padding: 1px;
    text-decoration: none;
    width: 10px;
}

/** input fields (e.g. the textarea in YOMs) **/

.input {
    background-color: #000000;
    border: 1px solid #cc6600;
    color: #ff9900;
}

/** input buttons (e.g. Submit, Search, Add) **/

.button {
    background-color: #cc6600;
    border-bottom: 1px solid #663300;
    border-left: 1px solid #ff9933;
    border-right: 1px solid #663300;
    border-top: 1px solid #ff9933;
    color: #000000;
    font-family: "Lucida Console", "Terminal", monospace;
    font-size: 11px;
}

/** text colours **/

.colDkBlue { color: #000099; }

.colDkGreen { color: #009900; }

.colDkCyan { color: #009999; }

.colDkRed { color: #990000; }

.colDkMagenta { color: #990099; }

.colDkYellow { color: #999900; }

.colDkWhite { color: #cccccc; }

.colLtBlue { color: #0000ee; }

.colLtGreen { color: #00ee00; }

.colLtCyan { color: #00eeee; }

.colLtRed { color: #ee0000; }

.colLtMagenta { color: #ee00ee; }

.colLtYellow { color: #eeee00; }

.colLtWhite { color: #ffffff; }

.colLtBlack { color: #666666; }

.colDkOrange { color: #994400; }

.colLtOrange { color: #ff9900; }

.colBlue { color: #0070FF; }

.colLime { color: #DDFFBB; }

.colBlack { color: #000000; }

.colRose { color: #EEBBEE; }

.colblueviolet { color: #9A5BEE; }

.coliceviolet { color: #AABBEE; }

.colLtBrown { color: #F8DB83; }

.colDkBrown { color: #6b563f; }

.colXLtGreen { color: #aaff99; }

.colAttention {
    background-color: #00FF00;
    color: #FF0000;
}

.colWhiteBlack {
    background-color: #FFFFFF;
    color: #000000;
}

.colbeige { color: #F5F5DC; }

.colkhaki { color: #F0E68C; }

.coldarkkhaki { color: #BDB76B; }

.colaquamarine { color: #7FFFD4; }

.coldarkseagreen { color: #8FBC8F; }

.collightsalmon { color: #FFA07A; }

.colsalmon { color: #FA8072; }

.colwheat { color: #F5DEB3; }

.coltan { color: #D2B48C; }

.colBack {
    background-color: #00FFFF;
    color: #000000;
}

.colLtLinkBlue { color: #0099FF; }

.colDkLinkBlue { color: #006BB3; }

.colDkRust { color: #8D6060; }

.colLtRust { color: #B07878; }

.colMdBlue { color: #0000F0; }

.colMdGrey { color: #DDDDDD; }

.colburlywood { color: #DEB887; }

/** table rows (e.g. Game Setup Info, Hall o' Fame) **/

.trhead {
    background-color: #ff9900;
    color: #000000;
}

.trlight {
    background-color: #663300;
    color: #ff9933;
}

.trdark {
    background-color: #330000;
    color: #ff9933;
}

.trhilight {
    background-color: #ff9900;
    color: #000000
}

/*  --------------------------------------------------------------------
**  Specific Tags and Classes
*/

/** links - navigation **/

a.nav {
    clear: none;
    float: left;
    height: auto;
    padding: 1px 1px 1px 4px;
    /* nav link (e.g. Forest, Quit, Travel) */
    text-decoration: none;
    width: auto;
}

a:hover.nav { /* nav link on mouseover */
    background-color: #000000;
    color: #ff6600;
}

/** links - motd **/

a.motd {
    background-color: #000000;
    clear: none;
    color: #ff9933;
    height: auto;
    text-align: center;
    /* for motd, yom, and petition */
    text-decoration: none;
    width: auto;
}

a:hover.motd {
    background-color: #000000;
    color: #ff6633;
    /* mouseover for motd, yom, and petition */
    height: auto;
    width: auto;
}

a.hotmotd {
    background-color: #000000;
    clear: none;
    color: #ff6633;
    /* when a new motd or yom is available */
    font-weight: bold;
    height: auto;
    text-align: center;
    text-decoration: none;
    width: auto;
}

/** links - translator tool **/

a.t {
    background-color: #000000;
    border: 1px dotted #0000ee;
    color: #ff9933;
    font-size: 11px;
    height: 10px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 8px;
}

a.thot {
    background-color: #000000;
    border: 1px solid #ee0000;
    color: #ff9933;
    font-size: 11px;
    height: 10px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 8px;
}

/** tables - navigation **/

table.nav {
    background-color: #000000;
    border: none;
    border-right: thin solid #663300;
    width: 175px;
}

td.nav a.thot {
    height: auto;
    left: 0px;
    position: absolute;
}

td.nav a.t {
    height: auto;
    left: 0px;
    position: absolute;
}

/** tables - character stats (i.e. "vital info") **/

table.vitalinfo { /* the whole vital info 'wrapper' table */
    background-color: #000000;
    border: none;
    border-left: thin solid #663300;
    width: auto;
}

table.charinfo { /* the sub-table with the data */
    background-color: #000000;
    width: auto;
}

td.charhead {
    background-color: #000000;
    border-top: none;
    color: #ff9933;
    cursor: default;
    /* vital info category heading */
    padding-left: 2px;
    text-decoration: underline;
}

td.charinfo {
    border-bottom: none;
    border-top: none;
    color: #cc9966;
    cursor: default;
    /* vital info data */
    padding-left: 8px;
}

/** tables - main page **/

td.pageheader {
    background-color: #000000;
    /* heading for the main page */
    background-image: url(amber/ambtitle.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
    border-bottom: thin solid #663300;
}

/** tables - popups **/

td.popupheader { /* heading in a popup (e.g. motd, yom)*/
    background-color: #000000;
    border-bottom: thin solid #663300;
    height: 50px;
}

/** tables - footers **/

table.noborder { /* table in the footer */
    border: none;
}

td.footer {
    background-position: top;
    /* data for a footer */
    border-top: thin solid #663300;
}

td.noborder { /* borderless data in the footer */
    border: none;
}

/** debugging **/

div.debug {
    background-color: #333333;
    border: 1px dotted #cc6600;
    color: #ff9900;
    font-size: 10px;
    height: auto;
    width: auto;
}