.sessioninfo {
    border: 1px none #993300;
    color: #CC4500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.stats {

    border: 1px solid #993300;
    color: #CC4500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.menu {
    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    text-transform: none;
}

.footer {

    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    text-transform: none;
}

.tableheader {
    background-color: #333333;
    color: #CC6600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.table2 {
    background-color: #151515;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: none;
}

.table1 {

    background-color: #151515;
    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: none;
}

.table3 {

    background-color: #000000;
    color: #FF6600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: none;
}

caption {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    white-space: nowrap;
}

td {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

a { color: #3366CC; }

a:hover { color: #FFFFFF; }

a.nav { color: #999999; }

a:hover.nav { color: #FFFFFF; }

.navhead {
    color: #CC0000;
    cursor: default;
    display: table;
    font-weight: bold;
    text-decoration: none;
}

.navhelp {
    color: #999999;
    cursor: default;
    display: table;
    text-decoration: none;
}

a.motd {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover.motd { color: #FF0000; }

a.hotmotd {
    color: #FF0000;
    text-decoration: none;
}

td.charinfo {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-color: #999999;
    border-top-style: solid;
    border-top-width: 1px;
    cursor: default;
}

td.charhead {
    background-color: #1478EB;
    color: #FFFFFF;
    cursor: default;
    font-weight: bold;
}

table.charinfo { border: none; }

td.pageheader { background-color: #000066; }

td.noborder { border: none; }

table.noborder { border: none; }

input {
    background-color: #000000;
    border: 1px solid #666666;
    color: #999999;
}

.input {
    background-color: #000000;
    border: 1px solid #666666;
    color: #999999;
}

select {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #000000;
}

a.t {
    background-color: #9999FF;
    border: 1px dotted #0000FF;
    color: #FFFFFF;
    font-size: 7px;
    height: 7px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 7px;
}

a.thot {
    background-color: #FF9999;
    border: 1px dotted #FF0000;
    color: #FFFFFF;
    font-size: 7px;
    height: 7px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 7px;
}

div.debug {
    background-color: #FFFFFF;
    border: 1px dotted #000000;
    color: #000000;
    font-size: 10px;
    height: auto;
    width: auto;
}

.navhi { color: #FFFFFF; }

.colDkBlue { color: #3333CC; }

.colDkGreen { color: #33CC33; }

.colDkCyan { color: #33CCCC; }

.colDkRed { color: #CC3333; }

.colDkMagenta { color: #CC33CC; }

.colDkYellow { color: #CCCC33; }

.colDkWhite { color: #FFFFFF; }

.colLtBlue { color: #3333CC; }

.colLtGreen { color: #33CC33; }

.colLtCyan { color: #33CCCC; }

.colLtRed { color: #CC3333; }

.colLtMagenta { color: #CC33CC; }

.colLtYellow { color: #CCCC33; }

.colLtWhite { color: #CCCCCC; }

.colLtBlack { color: #FFFFFF; }

.colDkOrange { color: #994400; }

.colLtOrange { color: #FF9900; }

.colBlue { color: #0070FF; }

.colLime { color: #DDFFBB; }

.colBlack { color: #000000; }

.colRose { color: #EEBBEE; }

.colblueviolet { color: #9A5BEE; }

.coliceviolet { color: #AABBEE; }

.colLtBrown { color: #F8DB83; }

.colDkBrown { color: #6b563f; }

.colXLtGreen { color: #aaff99; }

.colAttention {
    background-color: #00FF00;
    color: #FF0000;
}

.colWhiteBlack {
    background-color: #FFFFFF;
    color: #000000;
}

.colbeige { color: #F5F5DC; }

.colkhaki { color: #F0E68C; }

.coldarkkhaki { color: #BDB76B; }

.colaquamarine { color: #7FFFD4; }

.coldarkseagreen { color: #8FBC8F; }

.collightsalmon { color: #FFA07A; }

.colsalmon { color: #FA8072; }

.colwheat { color: #F5DEB3; }

.coltan { color: #D2B48C; }

.colBack {
    background-color: #00FFFF;
    color: #000000;
}

.colLtLinkBlue { color: #0099FF; }

.colDkLinkBlue { color: #006BB3; }

.colDkRust { color: #8D6060; }

.colLtRust { color: #B07878; }

.colMdBlue { color: #0000F0; }

.colMdGrey { color: #DDDDDD; }

.colburlywood { color: #DEB887; }

.trhead {
    background-color: #454545;
    color: #FFFFFF;
}

.trlight { background-color: #666666; }

.trdark { background-color: #333333; }

.trhilight { background-color: #888888; }