caption {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    white-space: nowrap;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

table.nav {
    background-color: #BFBD6A;
    border-bottom: 1px solid #FFFFFF;
    height: auto;
    width: 182px;
}

.navhead {
    background-color: #A89F6E;
    border-bottom: 1px solid #C4BB8A;
    clear: none;
    color: #5C5322;
    cursor: default;
    float: left;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
    height: auto;
    line-height: 18px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    width: 181px;
}

a {
    color: #674B0A;
    font-size: 11px;
    text-decoration: none;
}

a.nav {
    background-color: #A89F6E;
    border-bottom: 1px solid #C4BB8A;
    clear: none;
    color: #FFFFFF;
    float: left;
    height: auto;
    padding: 3px;
    text-align: left;
    text-decoration: none;
    width: 181px;
}

.navhelp {
    background-color: #C4BB8A;
    border-bottom: 1px solid #C4BB8A;
    clear: none;
    float: left;
    font-size: 11px;
    height: auto;
    padding: 1px;
    text-decoration: none;
    width: 181px;
}

a:hover.nav {
    background-color: #E7E4CA;
    border-bottom: 1px solid #C4BB8A;
    color: #5D3211;
}

a.navhilite {
    background-color: #C4BB8A;
    border-bottom: thin none #C4BB8A;
    clear: none;
    color: #5C5322;
    float: left;
    height: auto;
    padding: 3px;
    text-decoration: none;
    width: 150px;
}

a:hover.navhilite {
    background-color: #665F35;
    border-bottom: thin none #C4BB8A;
    color: #FFFFFF;
}

table { }

td.charinfo {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-color: #009900;
    border-top-style: solid;
    border-top-width: 1px;
    cursor: default;
}

td.charhead {
    background-color: #868348;
    border: none;
    color: #FFFFFF;
    cursor: default;
}

table.charinfo {
    border: none;
    width: 182px;
}

td.popupheader {
    background-color: #807C39;
    background-image: url(../images/headbkg.GIF);
    height: 20px;
}

td.noborder { border: none; }

table.noborder { border: none; }

td.village {
    background-image: url(../images/village.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
}

td.forest {
    background-image: url(../images/forest.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
}

td.dragon {
    background-attachment: fixed;
    background-image: url(../images/dragon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

input {
    background-color: #E6DCC6;
    border: 1px solid #6C3812;
    color: #5C5322;
    font-size: 11px;
    padding-left: 4px;
}

.button {
    background-color: #5C5322;
    border: 1px solid #000000;
    color: #C4BB8A;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}

.input {
    background-color: #E6DCC6;
    border: 1px solid #5C5322;
    color: #5C5322;
    font-size: 11px;
    padding-left: 4px;
}

select {
    background-color: #E6DCC6;
    border: 1px solid #5C5322;
    color: #5C5322;
    font-size: 11px;
    padding-left: 4px;
}

table.vitalinfo {
    background-color: #A89F6E;
    border: 1px solid #5C5322;
    width: 182px;
}

a.motd {
    color: #5C5322;
    text-decoration: none;
}

a:hover.motd {
    color: #FF0000;
    font-weight: none;
}

a.hotmotd {
    color: #5C5322;
    font-weight: none;
}

a:hover.hotmotd {
    color: #FF0000;
    font-weight: none;
}

.pagetitle {
    color: #5C5322;
    font-family: "Arial Black", "Veradna";
    font-size: 20px;
    font-variant: small-caps;
}

.navhi {
    color: #6F6126;
    text-decoration: underline;
}

td.nav a.thot {
    height: auto;
    left: 0px;
    position: absolute;
}

td.nav a.t {
    height: auto;
    left: 0px;
    position: absolute;
}

a.t {
    background-color: #9999FF;
    border: 1px solid #0000FF;
    color: #FFFFFF;
    font-size: 7px;
    height: 7px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 7px;
}

a.thot {
    background-color: #FF9999;
    border: 1px solid #FF0000;
    color: #FFFFFF;
    font-size: 7px;
    height: 7px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 7px;
}

div.debug {
    background-color: #FFFFFF;
    border: 1px solid #009900;
    color: #000000;
    font-size: 10px;
    height: auto;
    width: auto;
}

.colDkBlue { color: #000173; }

.colDkGreen { color: #006201; }

.colDkCyan { color: #006566; }

.colDkRed { color: #7B0000; }

.colDkMagenta { color: #5E006C; }

.colDkYellow { color: #6C6C00; }

.colDkWhite { color: #060606; }

.colLtBlue { color: #AC0000; }

.colLtGreen { color: #007D01; }

.colLtCyan { color: #007173; }

.colLtRed { color: #A40000; }

.colLtMagenta { color: #7F0080; }

.colLtYellow {
    color: #FFFFCA;
    font-weight: bold;
}

.colLtWhite { color: #444444; }

.colLtBlack { color: #505050; }

.colDkOrange { color: #804600; }

.colLtOrange { color: #C47600; }

.colWhiteBlack {
    background-color: #FFFFFF;
    color: #000000;
}

.colBack {
    background-color: #FFE1B2;
    color: #000000;
}

.colLtLinkBlue { color: #005388; }

.colDkLinkBlue { color: #002E4F; }

.colDkRust { color: #674343; }

.colLtRust { color: #905353; }

.colMdBlue { color: #0001B0; }

.colMdGrey { color: #474747; }

.colbeige { color: #F5F5DC; }

.colkhaki { color: #F0E68C; }

.coldarkkhaki { color: #BDB76B; }

.colaquamarine { color: #7FFFD4; }

.coldarkseagreen { color: #8FBC8F; }

.collightsalmon { color: #FFA07A; }

.colsalmon { color: #FA8072; }

.colwheat { color: #F5DEB3; }

.coltan { color: #D2B48C; }

.colburlywood { color: #DEB887; }

ion {
    background-color: #9BFF9C;
    color: #A60000;
}

.trhead {
    background-color: #A89F6E;
    color: #000000;
}

.trlight {
    background-color: #C4BB8A;
    color: #5C5322;
}

.trdark {
    background-color: #5C5322;
    color: #C4BB8A;
}

.trhilight {
    background-color: #333333;
    color: #AAAAAA;
}