/* CSS Document */
caption {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    white-space: nowrap;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

table.nav {
    background-color: #79835F;
    border: 1px solid #87AE75;
    height: auto;
    width: 135px;
}

.navhead {
    color: #000000;
    cursor: default;
    font-weight: bold;
    height: auto;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}

a {
    color: #173A07;
    text-decoration: none;
}

a.nav { text-decoration: none; }

.navhelp { text-decoration: none; }

a:hover.nav { color: #8CD769; }

a.navhilite { color: #000000; }

table { }

td.charinfo {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-color: #87AE75;
    border-top-style: solid;
    border-top-width: 1px;
    cursor: default;
}

td.charhead {
    background-color: #87AE75;
    border: none;
    color: #476738;
    cursor: default;
}

table.charinfo {
    border: none;
    width: 140px;
}

td.pageheader { }

td.popupheader { }

td.noborder { border: none; }

table.noborder { border: none; }

input {
    background-color: #79835F;
    border: 1px solid #87AE75;
    color: #000000;
}

.button {
    background-color: #79835F;
    border-bottom: 1px solid #476738;
    border-left: 1px solid #87AE75;
    border-right: 1px solid #476738;
    border-top: 1px solid #87AE75;
    color: #83DB83;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
}

.input {
    background-color: #79835F;
    border: 1px solid #87AE75;
    color: #000000;
}

select {
    background-color: #79835F;
    border: 1px solid #87AE75;
    color: #000000;
}

table.vitalinfo {
    background-color: #79835F;
    border: 1px solid #476738;
    width: 182px;
}

a.motd {
    color: #99FF00;
    text-decoration: none;
}

a:hover.motd { font-weight: bold; }

a.hotmotd { font-weight: bold; }

.navhi {
    color: #000000;
    text-decoration: underline;
}

a.t {
    background-color: #9999FF;
    border: 1px dotted #0000FF;
    color: #FFFFFF;
    font-size: 7px;
    height: 7px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 7px;
}

a.thot {
    background-color: #FF9999;
    border: 1px dotted #FF0000;
    color: #FFFFFF;
    font-size: 7px;
    height: 7px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 7px;
}

div.debug {
    background-color: #FFFFFF;
    border: 1px dotted #000000;
    color: #000000;
    font-size: 10px;
    height: auto;
    width: auto;
}

.colDkBlue { color: #898A9C; }

.colDkGreen { color: #89A185; }

.colDkCyan { color: #89A19C; }

.colDkRed { color: #A08A85; }

.colDkMagenta { color: #A08A9C; }

.colDkYellow { color: #A0A185; }

.colDkWhite { color: #A8A9A4; }

.colLtBlue { color: #8585B3; }

.colLtGreen { color: #85B385; }

.colLtCyan { color: #85B3B3; }

.colLtRed { color: #B38585; }

.colLtMagenta { color: #B385B3; }

.colLtYellow { color: #B3B385; }

.colLtWhite { color: #C3C3C3; }

.colLtBlack { color: #999999; }

.colDkOrange { color: #994400; }

.colLtOrange { color: #FF9900; }

.colBlue { color: #0070FF; }

.colLime { color: #DDFFBB; }

.colBlack { color: #000000; }

.colRose { color: #EEBBEE; }

.colblueviolet { color: #9A5BEE; }

.coliceviolet { color: #AABBEE; }

.colLtBrown { color: #F8DB83; }

.colDkBrown { color: #6b563f; }

.colXLtGreen { color: #aaff99; }

.colAttention {
    background-color: #00FF00;
    color: #FF0000;
}

.colWhiteBlack {
    background-color: #FFFFFF;
    color: #000000;
}

.colBack {
    background-color: #00FFFF;
    color: #000000;
}

.colbeige { color: #F5F5DC; }

.colkhaki { color: #F0E68C; }

.coldarkkhaki { color: #BDB76B; }

.colaquamarine { color: #7FFFD4; }

.coldarkseagreen { color: #8FBC8F; }

.collightsalmon { color: #FFA07A; }

.colsalmon { color: #FA8072; }

.colwheat { color: #F5DEB3; }

.coltan { color: #D2B48C; }

.colLtLinkBlue { color: #0099FF; }

.colDkLinkBlue { color: #006BB3; }

.colDkRust { color: #8D6060; }

.colLtRust { color: #B07878; }

.colMdBlue { color: #0000F0; }

.colMdGrey { color: #DDDDDD; }

.colburlywood { color: #DEB887; }

.trhead {
    background-color: #476738;
    color: #79835F;
}

.trlight { background-color: #79835F; }

.trhilight { background-color: #99A37F; }

.trdark { background-color: #6C7555; }