/* CSS Document */
caption {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    white-space: nowrap;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

table.nav {
    background-color: #000033;
    border: 1px solid #000000;
    height: auto;
    width: 135px;
}

.navhead {
    background-color: #000099;
    clear: none;
    color: #FFFF00;
    cursor: default;
    float: left;
    font-weight: bold;
    height: auto;
    line-height: 18px;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    width: 137px;
}

a {
    color: #0099FF;
    text-decoration: none;
}

a.nav {
    background-color: #000033;
    border: 1px solid #000033;
    clear: none;
    float: left;
    height: auto;
    padding: 1px;
    text-decoration: none;
    width: 135px;
}

.navhelp {
    background-color: #000033;
    border: 1px solid #000033;
    clear: none;
    float: left;
    height: auto;
    padding: 1px;
    text-decoration: none;
    width: 135px;
}

a:hover.nav {
    background-color: #003366;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #0364A3;
    border-right: 1px solid #000000;
    border-top: 1px solid #0364A3;
}

a.navhilite {
    background-color: #330000;
    border-bottom: thin solid #330000;
    border-left: thin none #330000;
    border-right: thin none #330000;
    border-top: thin solid #330000;
    clear: none;
    color: #FFFF00;
    float: right;
    height: auto;
    padding: 1px;
    text-decoration: none;
    width: 135px;
}

a:hover.navhilite {
    background-color: #990000;
    border-bottom: thin outset #CC0000;
    border-left: thin none #CC0000;
    border-right: thin none #CC0000;
    border-top: thin outset #CC0000;
}


table { }

td.charinfo {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-color: #009900;
    border-top-style: solid;
    border-top-width: 1px;
    cursor: default;
}

td.charhead {
    background-color: #009900;
    border: none;
    color: #FFFF00;
    cursor: default;
}

table.charinfo {
    border: none;
    width: 140px;
}

td.pageheader {
    background-color: #333399;
    background-image: url(../images/headbkg.GIF);
    height: 60px;
}

td.popupheader {
    background-color: #333399;
    background-image: url(../images/headbkg.GIF);
    height: 20px;
}

td.noborder { border: none; }

table.noborder { border: none; }

input {
    background-color: #433828;
    border: 1px solid #806B4D;
    color: #CCCCCC;
}

.button {
    background-color: #6b563f;
    border-bottom: 1px solid #403225;
    border-left: 1px solid #947356;
    border-right: 1px solid #403225;
    border-top: 1px solid #947356;
    color: #F8DB83;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
}

.input {
    background-color: #433828;
    border: 1px solid #806B4D;
    color: #CCCCCC;
}

select {
    background-color: #433828;
    border: 1px solid #806B4D;
    color: #CCCCCC;
}

table.vitalinfo {
    background-color: #003300;
    border: 1px solid #000000;
    width: 182px;
}

a.motd {
    color: #FF9900;
    text-decoration: none;
}

a:hover.motd { font-weight: bold; }

a.hotmotd { font-weight: bold; }

.pagetitle {
    color: #FFFFFF;
    font-family: "Old English Text MT", "Times New Roman";
    font-size: 20px;
}

td.footer {
    background-image: url(../images/rule.gif);
    background-position: top;
    background-repeat: repeat-x;
}

.navhi {
    color: #00FF00;
    text-decoration: underline;
}

a.t {
    background-color: #9999FF;
    border: 1px dotted #0000FF;
    color: #FFFFFF;
    font-size: 7px;
    height: 7px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 7px;
}

a.thot {
    background-color: #FF9999;
    border: 1px dotted #FF0000;
    color: #FFFFFF;
    font-size: 7px;
    height: 7px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    width: 7px;
}

div.debug {
    background-color: #FFFFFF;
    border: 1px dotted #000000;
    color: #000000;
    font-size: 10px;
    height: auto;
    width: auto;
}

.colDkBlue { color: #0000B0; }

.colDkGreen { color: #00B000; }

.colDkCyan { color: #00B0B0; }

.colDkRed { color: #B00000; }

.colDkMagenta { color: #B000CC; }

.colDkYellow { color: #B0B000; }

.colDkWhite { color: #B0B0B0; }

.colLtBlue { color: #0000FF; }

.colLtGreen { color: #00FF00; }

.colLtCyan { color: #00FFFF; }

.colLtRed { color: #FF0000; }

.colLtMagenta { color: #FF00FF; }

.colLtYellow { color: #FFFF00; }

.colLtWhite { color: #FFFFFF; }

.colLtBlack { color: #999999; }

.colDkOrange { color: #994400; }

.colLtOrange { color: #FF9900; }

.colBlue { color: #0070FF; }

.colLime { color: #DDFFBB; }

.colBlack { color: #000000; }

.colRose { color: #EEBBEE; }

.colblueviolet { color: #9A5BEE; }

.coliceviolet { color: #AABBEE; }

.colLtBrown { color: #F8DB83; }

.colDkBrown { color: #6b563f; }

.colXLtGreen { color: #aaff99; }

.colAttention {
    background-color: #00FF00;
    color: #FF0000;
}

.colWhiteBlack {
    background-color: #FFFFFF;
    color: #000000;
}

.colBack {
    background-color: #00FFFF;
    color: #000000;
}

.colbeige { color: #F5F5DC; }

.colkhaki { color: #F0E68C; }

.coldarkkhaki { color: #BDB76B; }

.colaquamarine { color: #7FFFD4; }

.coldarkseagreen { color: #8FBC8F; }

.collightsalmon { color: #FFA07A; }

.colsalmon { color: #FA8072; }

.colwheat { color: #F5DEB3; }

.coltan { color: #D2B48C; }

.colLtLinkBlue { color: #0099FF; }

.colDkLinkBlue { color: #006BB3; }

.colDkRust { color: #8D6060; }

.colLtRust { color: #B07878; }

.colMdBlue { color: #0000F0; }

.colMdGrey { color: #DDDDDD; }

.colburlywood { color: #DEB887; }

.trhead {
    background-color: #990000;
    color: #FFFFFF;
}

.trlight { background-color: #330000; }

.trhilight { background-color: #550000; }

.trdark { background-color: #000000; }